//add-book screen styling

.form-div{
    .add-container{
        background: #DAB4B4;
        padding-top: 50;
        padding-bottom: 50; 
        .form-add{ 
            .form-row{
                .left-form{  
                    .img1{ 
                        padding-left: 10%;  
                        .img-per{
                            border: 1px solid #000000;  
                            border-radius: 10px;
                            width: 260px;
                            height: 350px;
                        }
                          
                    } 
                }
                 
            }
             
        }
    }
}



 