
.my-con{ 
    align-items: center;
    margin-top:20;
     
      
    .row{
        .col-sm{ 
            .card{
                border-radius: 10px;
                margin: auto;
                margin-top: 20;
                border: 1px solid #000000;
                .img{
                    height: 300;
                    width:286;
                    border-radius: 10px 10px 0px 0px;
                    
                }
                .card-body{ 
                    .btn{
                        align-content: stretch;
                        border-radius: 10px;
                    }
                }
            }
        }
        
    }
     
}
a.disabled{
        pointer-events: none;
        cursor: default;
    }