//add-book screen styling

 
    .edit-container{
        background: #DAB4B4;
        margin-top: 50; 
        margin-bottom: 50;
        padding-top: 20;
        padding-bottom: 50; 
        .form-edit{ 
            .edit-row{ 
                .left-img{  
                    .img_edit{ 
                        padding-left: 12%; 
                        .img_per{
                            border: 1px solid #000000;  
                            border-radius: 10px;
                            width: 250;
                            height: 350px;
                        }
                          
                    } 
                }
                 
            }
             
        }
    }




 