 

@import "node_modules/bootstrap/scss/bootstrap";
.body{
     font-family: Roboto;
     background-color: #fff;
<<<<<<< HEAD
    
=======
>>>>>>> 74e366ebf5e1a347d9ed07f14f81d3836c6cb485
     
}

.navbar{
   background: rgba(77, 244, 174, 100);
   box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.10);
   .container-fluid{
       .navbar-brand{
            font-weight: bold;
            color:white;
            
       }
       .navbar-toggler{
           background: rgba(77, 244, 174, 100);
            
       }
            .collapse{
                .navbar-nav{  
                    list-style:none;
                    .nav-item{
                        a{
                            font-weight: bold;
<<<<<<< HEAD
                            color:rgb(255, 254, 254);
=======
                            color:white;
>>>>>>> 74e366ebf5e1a347d9ed07f14f81d3836c6cb485
                            text-shadow: 0px 10px 4px rgba(0, 0, 0, 0.10);
                        }
                        a:hover{
                        background: rgba(79, 168, 119, 100);
                        }
                    }
            
                }
            }
       
   }    
}
 

 
 
.form-control{
    width: 250px;
    height: 35px; 
    border: 2px solid #FFFEFE;
    box-sizing: border-box;
    border-radius: 40px;
}
<<<<<<< HEAD

//index home page styling

.container{ 
    align-items: center;
    margin-top: 50;
    margin-bottom: 50;
    .row{
        .col-sm{ 
            .card{
                margin: auto;
                margin-top: 20;
            }
        }
        
    }
}


=======
 
>>>>>>> 74e366ebf5e1a347d9ed07f14f81d3836c6cb485
 
