
@import "node_modules/bootstrap/scss/bootstrap";
//header
.body{
     font-family: Roboto;
     background-color: #fff;
     display: flex;
     align-items: center;
     justify-content: center;
    
     
}

.navbar{
   background: rgba(77, 244, 174, 100);
   box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.10);
   .container-fluid{
       .navbar-brand{
            font-weight: bold;
            color:white;
            
       }
       .navbar-toggler{
           background: rgba(77, 244, 174, 100);
            
       }
            .collapse{
                .navbar-nav{  
                    list-style:none;
                    .d-flex{
                        .form_c{ 
                            border: 1px solid #0a0a0a;
                            box-sizing: border-box;
                            border-radius: 15px 0px 0px 15px;
                        }
                        .btn1{
                             
                            border-radius: 0px 15px 15px 0px;
                        }
                    }
                    .nav-item{
                        a{
                            font-weight: bold;
                            color:rgb(255, 254, 254);
                             
                        }
                        a:hover{
                        background: rgba(79, 168, 119, 100);
                        }
                    }
            
                }
            }
       
   }    
}
 

 
 
  

 


 
